@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
}

.main {
  height: 70%;
  display: grid;
  background-image: url("../assets/landingPageBG.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}


.navlink a{
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  position: relative;
}



.navlink a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ff7a00;
  transition: left 0.3s ease-out;
}

.navlink a:hover::after {
  width: 100%;
  left: 0;
}


.search {
  position: relative;
}

.search i {
  position: absolute;
  left: 10px;
  color: black;
  top: 50%;
  transform: translateY(-50%);
}

.search input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 40px;
  outline: none;
}

.routes ul {
  display: flex;
}

li {
  list-style: none;
}
.routes li {
  padding: 5px 10px;
  list-style: none;
}

.routes li a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.main-text {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  justify-content: space-between;
  margin-bottom: 100px;
  color: white;
}

.main-text h1 {
  font-size: 3rem;
  width: 50%;
  line-height: 3.5rem;
  padding-bottom: 10px;
}

.main-text h6 {
  font-size: 1.5rem;
  width: 70%;
  font-weight: 500;
  padding-bottom: 10px;
}

.btn {
  margin-top: 10px;
  padding-top: 10px;
  
}

button {
  padding: 10px 25px;
  background-color: #ff7a00;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
}

.btn a{
text-decoration: none;
color: white;

}

.hero-section {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(234, 229, 250);
}

.chooseUs {
  padding: 10px;
  width: 83.8%;
  color: #1f1d3f;
}

.chooseUs h1 {
  text-align: center;
  padding: 10px;
}

.chooseUs p {
  word-spacing: 3px;
  line-height: 1.5rem;
}

.solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1f1d3f;
  padding: 20px 0;
}

.solutions h2 {
  padding: 20px;
}

.solution-row {
  padding: 20px 0;
  gap: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.solution-cards {
  width: 30%;
  padding: 20px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.cards-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: bold;
}

.cards-head p {
  font-size: 1.5rem;
}

.empty {
  padding: 20px;
  border-radius: 50%;
  background-color: grey;
}
.solution-cards p {
  text-align: justify;
  word-spacing: 3px;
  line-height: 1.5rem;
}

.features {
  width: 83%;
  text-align: center;
}

.features-text {
  padding: 10px 0;
}

.features-text h1 {
  margin-bottom: 20px;
  color: #1f1d3f;
}

.feature-row {
  margin-top: 20px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.features-card img {
  width: 70%;
}

.features-card {
  width: 50%;
  text-align: justify;
}

.features-card p {
  width: 80%;
  padding: 20px 0;
  word-spacing: 3px;
  line-height: 1.5rem;
  opacity: 50%;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #1f1d3f;
  padding: 20px 0;
}

.how-it-works-row {
  width: 90%;
  margin-top: 20px;
  padding: 20px 0;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.cards-head {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.cards-head p {
  font-size: medium;
}

.card-body h3 {
  text-align: justify;
  font-size: medium;
}



.card-body p {
  text-align: start;
  font-size: 0.9rem;
  line-height: 1.5rem;
  width: 70%;
  opacity: 70%;
}

.empty1 {
  padding: 20px;
  border-radius: 50%;
  background-color: purple;
}
.empty2 {
  padding: 20px;
  border-radius: 50%;
  background-color: blue;
}
.empty3 {
  padding: 20px;
  border-radius: 50%;
  background-color: red;
}
.empty4 {
  padding: 20px;
  border-radius: 50%;
  background-color: greenyellow;
}
.empty5 {
  padding: 20px;
  border-radius: 50%;
  background-color: orangered;
}

.transform {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 10px;
  width: 83%;
}

.transform-card1 {
  width: 50%;
}

.transform-card1 img {
  width: 70%;
}

.transform-card2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
}

.transform-card2 h3 {
  font-size: 2.5rem;
}

.transform-card2 p {
  opacity: 70%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1d3f;
  color: white;
  padding: 20px;
}

.footer-row {
  padding: 10px;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-card {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.footer-card p {
  line-height: 1.5rem;
  font-size: 0.7rem;
  opacity: 50%;
}

.footer-card-body {
  margin: 10px 0;
}

.footer-card-body h4 {
  padding: 5px 0;
}
.footer-card li {
  padding: 7px 0;
  font-size: 0.9rem;
  opacity: 50%;
}

.footer hr {
  height: 1px;
  width: 80%;
  background-color: #ccc;
  margin-bottom: 10px;
}
